<div class="card text-center">
    <div class="card-body">

        <h6 class="card-title" id="user-name">{{user.firstname}} {{user.lastname}}</h6>
        {{#if isMe}}
        <img src="https://www.gravatar.com/avatar/{{user.gravatar}}?d=https://www.publicdomainpictures.net/pictures/130000/nahled/seamless-cocktails.jpg"
            class="profile-image"> {{/if}} {{#unless isMe}}
        <img src="https://www.gravatar.com/avatar/{{user.gravatar}}?d=wavatar" class="profile-image"> {{/unless}}

        <div class="link-box">
            <div class="link-text">
                {{#unless isMe}}
                <a href="/dashboard">Profile</a>{{/unless}} {{#if isMe}}
                <a href="">{{user.firstname}} {{user.lastname}}</a>{{/if}}
                <br/>
                <a href="/review">Drinks</a>
                <br/>
                <a href="/friends">Friends</a>
            </div>
            {{!-- //FIXME: This needs to be centered --}}
            <div class="search-narrow" id="search-group">
                {{>headers/search}}
            </div>
        </div>
        <!-- <div class="link-box">
            <div class="row">
                <div class="col-md-4">
                    {{#unless isMe}}
                    <a class="link" href="/dashboard">Profile</a>{{/unless}} {{#if isMe}}
                    <a class="link" href="">{{user.firstname}} {{user.lastname}}</a>{{/if}}
                </div>
                <div class="col-md-4">
                    <a class="link" href="/review">Drink Reviews</a>
                </div>
                <div class="col-md-4">
                    <a class="link" href="/friends">Friends</a>
                </div>
            </div>
        </div> -->

        <div class="row">

        </div>
    </div>