<!DOCTYPE html>
<html lang="en">

<head></head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/assets/styles.css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<title>Drink Reviews</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2 class="neon">Drink With Me!</h2>
                <hr>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card w-100">
            <div class="card-body">
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="search for drink" aria-label="Search">
                </form>
                <h6 class="card-title" id="user-name">{{user.firstname}} {{user.lastname}}</h6>
                <img src="https://www.gravatar.com/avatar/{{user.gravatar}}?d=https://www.publicdomainpictures.net/pictures/130000/nahled/seamless-cocktails.jpg"
                    class="profile-image">
                <div class="link-box">
                    <div class="link-text">
                            <div class="format">
                                <a href="/dashboard">MY PROFILE</a>
                                <br/>
                                <a href="/reviews">DRINKS</a>
                                <br/>
                                <a href="/find-add-friend">FRIENDS</a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-container-fluid border">
        <div class="scroll">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" id="drink-image"></th>
                        <th scope="col">Drink Name</th>
                        <th scope="col">Place</th>
                        <th scope="col">Average Rating</th>
                        <th scope="col">Reviews</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each reviews}}
                    <tr>
                        <!--
                        <td scope="col">
                            <img src=({{drinkImage}}) class="friend-image">
                        </td> -->
                        <td scope="col">
                            {{drinkId}}
                            <a href={{drinkName}}> {{drinkName}}</a>
                            <td scope="col">
                                {{placeDrinks}}
                            </td>
                        </td>
                        <td scope="col">
                            {{drinksAvgRating}}
                        </td>
                        <td scope="col">
                            {{drinksReviews}}
                        </td>
                    </tr>
                    {{/each}}

                </tbody>
            </table>
        </div>

    </div>

</body>

</html>