<!DOCTYPE html>
<html lang="en">

<head></head>
<title>Drink Reviews</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2>Drink With Me!</h2>
                <hr>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card w-100">
            <div class="card-body">
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="search for drink" aria-label="Search">
                </form>
                <h6 class="card-title" id="user-name">User Name</h6>
                <img href="#" class="profile-image">
                <div class="link-box">
                    <div class="link-text">
                        <a href="/user-profile">MY PROFILE</a>
                        <br/>
                        <a href="/reviews">DRINKS</a>
                        <br/>
                        <a href="/find-add-friend">FRIENDS</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-container-fluid border">
        <div class="scroll">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" id="drink-image"></th>
                        <th scope="col">Drink Name</th>
                        <th scope="col">Place</th>
                        <th scope="col">Average Rating</th>
                        <th scope="col">Reviews</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {{#each reviews}}
                        <td scope="col">
                            <img href=({{drinkImage}}) class="friend-image">
                        </td>
                        <td scope="col">
                            <a href=({{drinkName}})> ({{drinkName}})</a>
                            <td scope="col">
                                ({{placeDrinks}})
                            </td>
                        </td>
                        <td scope="col">
                            ({{drinksAvgRating}})
                        </td>
                        <td scope="col">
                            ({{drinksReviews}})
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div>

</body>

</html>